// Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions"; // Required

// 2. Include any default variable overrides here
$font-size-root: 12px;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$h1-font-size: $font-size-base * 1.5;
$h2-font-size: $font-size-base;
$h3-font-size: $font-size-base;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base;
$headings-font-weight: $font-weight-bold;

// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/tables";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";

// 8. Add additional custom code here
.sds {
  @include make-container();

  h1,
  .h2 {
    > small,
    > .small {
      font-weight: inherit;
    }
  }

  h2,
  .h2 {
    counter-increment: section;

    &::before {
      text-transform: uppercase;
      content: "Section " counter(section) ": ";
    }
  }

  h3,
  .h3 {
    margin-top: $headings-margin-bottom;
  }

  h4,
  .h4,
  address,
  dl,
  dd {
    margin-bottom: 0;
  }

  .table {
    h3,
    .h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .datasheet {
    counter-reset: section;
  }

  .header {
    padding-top: $spacer * 1.5;
    padding-bottom: $spacer;
    background-color: $body-bg;
    border-bottom: solid $border-width $border-color;
  }

  .section {
    margin-top: $spacer * 1.5;
    page-break-inside: avoid;

    > ol {
      padding-inline-start: 0;
      list-style: none;
      counter-reset: sub-section;

      > li {
        display: block;
        padding-inline-start: $spacer * 3;

        h3,
        .h3 {
          &::before {
            position: absolute;
            font-weight: $headings-font-weight;
            line-height: headings-line-height;
            text-indent: -($spacer * 3);
            content: counter(section) "." counters(sub-section, ".");
            counter-increment: sub-section;
          }
        }
      }
    }
  }

  .img-ghs {
    width: $spacer * 6;
    height: $spacer * 6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @for $i from 1 through 9 {
    .img-ghs0#{$i} {
      background-image: url(../img/ghs0#{$i}.svg);
    }
  }

  .figure {
    text-align: center;
  }
}
